.description {
    margin-top: -60px;
    &__header {
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid #f3f3f3;
    }

    &__content {
        max-height: 320px;
        overflow: hidden;
        overflow-y: auto;
        padding-right: 40px;
        margin-bottom: 30px;

        p {
            margin-bottom: 20px;
        }
    }

    &__report {
        padding: 30px;
        background: linear-gradient(180deg, #fefefe 0%, #f6f6f6 100%);
        border: 1px solid #d0d0d0;
        box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.15);
        border-radius: 3px;
        margin-bottom: 30px;

        span {
            display: inline-block;
            margin-bottom: 20px;
        }

        &-content {
            p {
                margin-bottom: 20px;
            }

            button {
                border: 0;
                padding: 0;
                background-color: transparent;
                color: $green;
            }
        }
    }

    &__average {
        h2 {
            margin-bottom: 30px;
        }

        &-recomendation {
            margin-bottom: 30px;

            span {
                display: inline-block;
                margin-bottom: 24px;
            }

            ul {
                display: flex;
                flex-wrap: wrap;
                align-items: center
            }

            li {
                position: relative;
                display: flex;
                flex-direction: column;
                padding-left: 12px;
                width: calc(100% / 3);
                max-width: 210px;  
                
                &::before {
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);

                    width: 2px;
                    height: 34px;

                    content: "";

                    border-left: 2px solid $green;
                }

                span {
                    margin-bottom: 0;
                }

                span:not(:last-child) {
                    margin-bottom: 5px;
                }
            }
        }
        
        button {
            position: relative;
            display: flex;
            align-items: center;
            padding-left: 50px;

            min-height: 50px;
            border: 0;
            background-color: transparent;

            &::before {
                position: absolute;
                top: 0;
                left: 0;
                content: '';

                width: 40px;
                height: 40px;
                border-radius: 3px;
                background-image: url("../assets/img/pdf-icon.png");
                background-repeat: no-repeat;
                background-size: 40px;
                background-position: center;
            }
        }
    }

    
}